



.page{
    margin-top: 70px;
    background-color: var(--primary-color);
    padding: 40px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-title{
    font-size: 50px;
}

.bottom-page{
    background-color: var(--primary-color);
    padding: 40px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 100px;
}

.top{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-between;

    align-items: center;
    font-size: 22px;
}













@media (max-width: 860px) {
    .top {
      font-size: 17px;
    }
    
}

@media (max-width: 690px) {
    .top {
      font-size: 12px;
    }
}
    
@media (max-width: 520px) {
    .page{
       padding: 25px;
    }
    .home-page-portrait{
        margin: 0;
        width: 80%;
    }
    .top{
        flex-direction: column;
        margin: 0;
    }
    .top p{
        text-align: center;
        width: 100%;
    }

    

}
        
   

 