
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    font-size: 10px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-top: solid var(--border-color);

}

.footer-nav-links, .footer-social-links{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: center;
}



.footer-link{
    color: var(--text-color);
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
}
.footer-link:hover{
    color: var(--link-hover);
    cursor: pointer;
    transition: color 0.2s;
}

.footer-1, .footer-2{
    margin: 0;
}
.footer-2{
    margin-left: 4px;
}

.footer-lines{
    margin-top: 35px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.footer-social-links{
    margin-bottom: 25px;
}

