


.work-section, .education-section{
    margin-bottom: 30px;
    width: 80%;
   
    font-size: 14px;
}

.resume-divider{
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;

}


.education-heading, .education-title, .education-title-item, .education-name, .education-location, .education-date, .education-description,
.work-heading, .work-title, .work-position, .work-company, .work-location, .work-date, .work-description{
    margin: 0;
}


.education-heading, .work-heading, .work{
    margin-bottom: 10px;
}
.education-title, .work-title{
    display: flex;
    flex-direction: row;
}

.education-heading, .work-heading{
    font-size: 20px;
    font-weight: bold;
}

.school-name, .work-position{
    font-weight: bold;
}

.bullet-and-work-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}

.work-description{
    margin-left: 7px;
}
.work-bullet{
    margin: 0px;
}



@media (max-width: 800px) {
  
}
