
:root{
  --secondary-color: rgb(0, 0, 0);
  --primary-color: #414995;
  --link-hover: #292929;
  --mobile-menu-color: #292929;

  --text-color: rgb(213, 213, 213);
  --border-color: grey;
  --gold: #8f8f42;

}


a{
  text-decoration: none;
}

p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}